# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
.venv/
venv/
env/

# Dataset
*.zip

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Python cache
*.pyc

# Streamlit secrets
.streamlit/secrets.toml

# Logs
*.log